.hero2 {
    width: 1000px;
    margin: 100px auto;
    margin-bottom: 100px;
}

.text {
    text-align: center;
}

.imgs {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.imgDivs {
    text-align: center;
}

.pics {
    height: 200px;
    width: 300px;
}

@media screen and (max-width: 1020px) {
    .imgs {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .hero2 {
        width: auto;
        margin: 100px auto;
        margin-bottom: 100px;
    }
}