.hero3 {
    position: relative;
    width: 1200px;
    height: 700px;
    margin: 0 auto 150px auto;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.loc {
    margin-bottom: 40px;
}

.threeBoxes {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.box1, .box2, .box3 {
    background-color: black;
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box1 ul, .box2 ul, .box3 ul {
    list-style: none;
    padding: 0;
    line-height: 1.8;
}

@media screen and (max-width: 1200px) {
    .backgroundImg2 {
        width: 100%;
    }
    
    .hero3 {
        width: 100vw;
        height: auto;
    }

    .backgroundImg2 {
        width: 100vw;
    }
}

@media screen and (max-width: 1000px) {
    .box1, .box2, .box3 {
        width: 200px;
        height: 200px;
    }
}

@media screen and (max-width: 699px) {
    .overlay {
        position: relative;
    }

    .box1, .box2, .box3 {
        background-color: white;
        color: black;
        width: 300px;
        height: 300px;
    }
}