nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid white;
}

.logoImg {
    margin-left: 10px;
    height: 50px;
}

.navButton {
    background-color: black;
    border: 0;
    display: none
}

.toggledMenu, .notToggledMenu {
    list-style: none;
    display: flex;
    gap: 30px;
}

.linkText {
    color: white;
}

@media screen and (max-width: 550px) {
    .toggledMenu {
        display: flex;
        flex-direction: column;
        align-items: end
    }

    .notToggledMenu {
        display: none;
    }

    .navButton {
        display: inline;
    }

    .toggleContainer {
        display: flex;
        flex-direction: column;
        align-items: end;
    }
}

@media screen and (max-width: 330px) {
    nav {
        flex-direction: column;
    }

    .toggleContainer, .toggledMenu {
        align-items: start;
    }
}